<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta de Precio de Bitcoin</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <div class="container">
        <h1>Consulta de Precio de Criptomonedas</h1>
        <form action="/price" method="GET">
            <label for="symbol">Ingresa el símbolo:</label>
            <input type="text" id="symbol" name="symbol">
            <button type="submit">Obtener precio</button>
        </form>
    </div>
</body>
</html>
